body{
     margin: 6%;
    background-color: #f4f4f4df;
   
}
.login {
    margin: 5%;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 3%;
    width: 80%;
    border-radius: 15px;
    justify-content: center;
  
}
.form-control {
    margin: 10px 0;
    
   
}

h2 {
    color: #7ea0e0;
    font-family: cursive;
    margin-bottom: 20px; 
}

p {
    color: #646060c2;
    font-size: 14px;
    font-family: cursive;
    margin: 3%;
}

img {
    margin: 0 20px;
}
label{
    font-family: cursive;
    color: #7ea0e0;
}
input {
    width: 9%;
    padding: 8px;
    border-radius: 5px;
    border: 0;
    font-family: cursive;
}

button {
    color: #fff;
    background-color: #e0a4a8;
    padding: 10px 5%;
    font-family: cursive;
    font-size: 16px;
    border-radius: 10px;
    border: 0;
}

button:hover {
    background-color: #fff;
    color: #b17e82;
    transition: 0.5s;
}


.icon {
    width: 70%;
    padding: 0;
    background-color: #ffffff57;
    border: 1px solid #b17e82;
}

a {
    color: #646060c2;
   
}
p{
    text-align: center;
}

a:hover {
    color: #7ea0e0;
    transition: 1s;
}

